.logo {
    margin: 16px;
}

.logo img{
    width: 90%;
    padding-bottom: 24px;
}

.header {
    background: white;
    padding-right: 0;
    z-index: 1;
    box-shadow: 0 2px 8px #f0f1f2;
}

.content {
    min-height: 100vh;
    background-color: white;
}

.rightAlignedMenu {
    float: right;
}

.avatar {
    background-color: #F27781;
}

.txtWhite {
    color: white;
}

.innerContent {
    margin: 48px 24px;
}

.formItem {
    margin-top: 12px;
}

.saveButton {
    margin-top: 18px;
}

.formSelect {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .content, .header {
        margin-left: 200px;
    }
}

:global h1.ant-typography, :global h2.ant-typography, :global h3.ant-typography, :global h4.ant-typography {
    font-weight: 300;
}

.mainTitle {
    margin-top: 5px;
}

.closeButton {
    position: absolute;
    right: 0.8rem;
}

.addTranslation {
    padding-left: 0;
    margin-bottom: 1rem;
}

.cardMargin {
    width: 100%;
    margin-bottom: 1rem;
}
